body {
  text-align: center;
  background-color: #2a2a2a; 
  padding: 25px;
  border-radius: 15px;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.1);
  height: 100vh;
}

h1 {
  color: #333;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

#game-board {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-gap: 5px;
  margin: 20px auto;
  width: 310px;
}

#status {
  margin-bottom: 20px;
}

.start {
  background: linear-gradient(45deg, #ff2e63, #00f5d4);
}

.cell {
  width: 100px;
  height: 100px;
  background-color: #fff; 
  border-radius: 10px; 
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  font-weight: 700;
  color: #333; 
  cursor: pointer;
  transition: box-shadow 0.3s, transform 0.2s;
}

.cell:hover {
  box-shadow: inset -5px -5px 15px rgba(93, 245, 219, 0.5); 
}